/* 🔥 Full Page */
.home-container {
  height: 100vh;
}

/* LEFT IMAGE */
.left-image {
  background-image: url("https://img.freepik.com/premium-photo/ganesha-aum-hindu-wedding-card-diwali-india_997657-2100.jpg");
  background-size: cover;
  background-position: center;
}

/* RIGHT SIDE */
.right-section {
  background: linear-gradient(135deg, #fff7ed, #ffe4cc);
}

/* CARD */
.home-card {
  width: 80%;
  max-width: 400px;
  background: #ffffff;
  border-radius: 15px;
  transition: 0.3s;
}

.home-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

/* BUTTONS */
.btn-custom {
  background: linear-gradient(135deg, #ff7a18, #ffb347);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-custom:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btn-secondary-custom {
  background: linear-gradient(135deg, #5f9cff, #3b82f6);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-secondary-custom:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* SELECT FOCUS */
.form-select:focus {
  border-color: #ff7a18;
  box-shadow: 0 0 5px rgba(255, 122, 24, 0.5);
}